body {
    background-image: url("../images/capture_01.jpg");
}

h1{
    font-family:fantasy;
	text-align:center;
    color: white;
}
h2{
    color: white;
}

.container {
    height: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    background-color: black;
}

.container.home{
    text-align: center;
    
}

#txtboxheadings{
    color: white;
}

.navbar {
	margin-left:350px;
	margin-right:350px;
/*
	height:50px;
	display:inline-block;
	font-family: bold;
    width: auto;
	
*/
    
    background-color: gainsboro;
    text-align: center;
}

div.srs1 {
    text-align: center;
}

div.srs2 {
    text-align: center;
}


.row1{
    margin-top: 100px;
}



#foot{
	font-size:14pt;
	clear:both;
	color: red;
	
}

footer p{
	display: inline-block;
	width:33%;
	margin-left:35%
}

#customername{
    color:azure;
    
}
#customerid{
    color:azure;
    
}

#genderG{
    color:azure;
    
}
#gender{
    color:azure;
    
}
#cust{
    color:white;
     text-align: center;
     font-weight: bold;
    
}
#buttons{
    
    color: black;
    font-weight: bold;
}
#customernamee{
    
    
    color: black;
}
#customeridd{
    
    color: black;
}
